<a href="/"><img id="logo" src="/mainLogo.jpg"></a>
    <div id="navigationBar">
        <a href="/about">About me</a>
        <a href="/projects">My projects</a>
        <a href="/services">Services</a>
        <a href="/contact">Contact Me</a>
    </div>