<div id="mainServices">
    <h1>My Services</h1>
    <img id="cImage" src="./content/images/csharp.png">
    <p>Introductory Programming (C#, JavaScript)</p>
    <br>
    <img id="webImage" src="./content/images/jsLogo.png">
    <img id="webImage" src="./content/images/nodeJs.png">
    <p>Introductory Web Development (HTML, CSS, JavaScript, Node.js)</p>
    <br>
    <img id="uiDesign" src="./content/images/uiDesign.png">
    <p>UI Design</p>
    <br>
    <img id="sql" src="./content/images/sql.png">
    <p>Introductory Database programming (SQL)</p>
</div>